
<div class="left-sidebar">
  <ul>
    <div class = "index">
      <img src = "../../../../assets/images/icons/maison.png" alt = "home">
      <a routerLink = "/home" routerLinkActive="active">Home</a>
    </div>
    <div class = "index">
      <img src = "../../../../assets/images/icons/notification.png" alt = "notifications">
      <a routerLink = "/notifications" routerLinkActive="active">Notifications</a>
    </div>
    <div class = "index">
      <img src = "../../../../assets/images/icons/message.png" alt = "messages">
      <a routerLink = "/messages" routerLinkActive="active">Messages</a>
    </div>
    <div class = "index">
      <img src = "../../../../assets/images/icons/profile.png" alt = "profile">
      <a routerLink="/profile/{{this.id}}" routerLinkActive="active">Profile</a>
    </div>

    <button (click)="onClickNewRegularPost()">New post</button>
  </ul>
</div>
