ul {
  top:15%;
}

li {
  list-style: none;
}

.index {
  margin: 40px 0;
  display: flex;
  align-items: center;
}

button {
  margin-top: 20px;
}

.active {
  font-weight: 600;
}

a {
  font-size: 25px;
  margin-left: 20px;
  color: #1A072C;
  text-decoration: none;
}

img {
  width: 35px;
}


a:visited {
  text-decoration: none;
}

.left-sidebar {
  width: 290px;
  height: 100vh;
  border-right: rgba(116, 33, 194, 0.25) 1px solid;
  position:fixed;
  top: 0;
  left: 0;
  text-align: center;
}

@media (max-width: 768px) {
   .left-sidebar {
    width: 100%; /* Utilise la largeur complète de l'écran */
    position: static; /* Annule la position fixe */
    border: none; /* Supprime les bordures */
    height: auto; /* Hauteur automatique */
  }

  .index {
    display: inline-block;
    margin: 20px;
  }
}
