ul {
  margin-top: 150px;
  padding-left: 0;
}

li {
  list-style: none;
}

.index {
  margin: 40px 0;
  padding-left: 40px;
  display: flex;
}

button {
  margin-top: 20px;
  font-size: 25px;
}

.active {
  font-weight: 600;
}

a {
  font-size: 25px;
  margin-left: 20px;
  color: #1A072C;
  text-decoration: none;
}

img {
  margin-top: -5px;
  width: 35px;
}


a:visited {
  text-decoration: none;
}

.left-sidebar {
  width: 290px;
  height: 100vh;
  border-right: rgba(116, 33, 194, 0.25) 1px solid;
  position:fixed;
  top: 0;
  left: 0;
  text-align: center;
}

@media (max-width: 768px) {
   .left-sidebar {
    width: 100%;
    position: static;
    border: none;
    height: auto;
  }

  .index {
    display: inline-block;
    margin: 20px;
  }
}
