.content {
  flex-grow: 1;
  position:absolute;
  left: 290px;
}

.right-sidebar {
  width: 290px; /* Ajustez la largeur selon vos besoins */
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
  border-left: rgba(116, 33, 194, 0.25) 1px solid;
  position: fixed;
  top: 0;
  right: 0;
}

@media (max-width: 768px) {
  .right-sidebar {
    width: 100%; /* Utilise la largeur complète de l'écran */
    position: static; /* Annule la position fixe */
    border: none; /* Supprime les bordures */
    height: auto; /* Hauteur automatique */
  }

  .content {
    left: 0;
  }
}
