.container {
  text-align: center;
  margin-right: 500px;
}

button {
  font-size: 25px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 30px;

  font-style: normal;
  line-height: 120px;
}

h2 {
  margin-top: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 36px;

  color: #000000;
}

img {
  margin-top: 20px;
  width: 40vw;
}

.buttons {
  margin-top: 70px;
  display: flex;
  column-gap: 100px;
  justify-content: center;
}

@media (max-width: 1000px) {
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
  }
}
@media (max-width: 1000px) {
  .container {
    margin-right: 2%;
    margin-left: 2%;
  }
  img {
    width:80vw;
  }
}


.flashcard-group {
  position: absolute;
  right :140px;
  top :50%;
  transform :translateY(-50%);
}

.flashcard {
  text-align: left;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  padding:35px;
  gap:10px;

  width:250px;
  height:120px;

  color:white;
  font-size :18px;

  background-color:#307473;
  border-radius :20px;
}

flashcard:hover {
  box-shadow: black ;
}

@media only screen and (max-width :1000px) {
  .flashcard-group {
    margin: 300px auto 0;
    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  .flashcard{
    width:250px;
    margin:auto;
  }
}
