<div class="wrapper">
  <div class="content">
    <div class="user">
      <div class="top-user-info">
        <img alt="userImg" src="../../../../assets/images/icons/user.png">

        <div class="favorite-hobby">
          <p class="title-favorite-hobby">Favorite hobby</p>
          <!--<img [src]="favoriteHobby.image" alt="favorite hobby img" class="image-favorite"> -->
          <button class="tag favorite">cooking</button>
        </div>
      </div>
      <p class="username">{{this.organizationDTO.name_organization}}</p>
      <p class="nickname">{{this.organizationDTO.description}}</p>
    </div>

    <div *ngIf="isPartOfOrganization()">
      <div class="buttons">
        <button class="tag" routerLink="add_hobby">Add an hobby</button>
        <button routerLink="modify_profile">Modify profile</button>
        <button class="button2" routerLink="">Disconnect</button>
      </div>
    </div>
    <div class="binder">
      <div (click)="onSwitchTo('posts')" class="tab {{ type === 'posts' ? 'selected' : '' }}">Posts</div>
      <div (click)="onSwitchTo('activities')" class="tab {{ type === 'activities' ? 'selected' : '' }}">Activities</div>
    </div>

    <app-post-list [postsDTO]="organizationDTO.postsDTO" *ngIf="type === 'posts'"></app-post-list>
    <!--<app-activity-list [activitiesDTO]="this.activitiesDTO" *ngIf="type === 'activities'"></app-activity-list> -->


  </div>
  <app-navigation-bar></app-navigation-bar>
  <app-might-like-hobbies-display></app-might-like-hobbies-display>
</div>

