<div *ngIf="this.organizationDTO">
  <div class="content">
    <div class="user">
      <div class="top-user-info">
        <img *ngIf ="this.organizationDTO.avatar else elseBlock" [src]="this.loadImage(this.organizationDTO.avatar)" class ="profile-image">
        <ng-template #elseBlock>
          <img src="assets/images/icons/user.png" class ="profile-image">
        </ng-template>
        <button *ngIf="this.activityDirector && !isPartOfOrganization() && isInvited">
          <p (click)="onAcceptInvitation()">Accept invitation</p>
        </button>
        <button *ngIf="this.activityDirector && !isPartOfOrganization() && isOnOrganization">
          <p (click)="onQuitOrganization()">Quit organization</p>
        </button>
      </div>
      <p class="username">{{this.organizationDTO.name_organization}}</p>
      <p class="nickname">{{this.organizationDTO.description}}</p>
    </div>

    <app-binder [buttons]="['Posts', 'Activities']"></app-binder>

    <app-post-list [postsDTO]="organizationDTO.postsDTO" *ngIf="type === 'posts'"></app-post-list>
    <app-activity-flashcard-list [activitiesDTO]="this.organizationDTO.activitiesDTO" *ngIf="type === 'activities'"></app-activity-flashcard-list>

  </div>
  <app-navigation-bar></app-navigation-bar>
  <app-might-like-hobbies-display></app-might-like-hobbies-display>
</div>

