.top-bar {
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  display: flex;
  justify-content: space-between;
  top:0;
  width: calc(100% - 700px);
  backdrop-filter: blur(5px);
}
.text {
  font-size: 22px;
  margin-left: 40px;
  margin-right: 40px;
}

.badge {
  width:30px;
}

.text-container {
  display: flex;
  gap: 7px;
  margin-right: 40px;
}


.binder {
  margin-top: 50px;
  display: flex;
  font-size: 22px;
  text-align: center;
}

.top-user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.favorite-hobby {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-right: 54px;
  border: 1px black solid;
  border-radius: 20px;
  padding:15px 15px 15px 15px;
  height:90%;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.info {
  margin:10px;
}

.info.solo {
  margin-left: 47px;
}

.image-favorite {
  width: 105px;
  mix-blend-mode: multiply;
}

.title-favorite-hobby {
  margin-top: 0;
  font-size: 16px;
}

.tag.favorite {
  margin-top: 3px;
  padding:6px!important;
  font-size: 14px;
}


.tab {
  cursor: pointer;
  width:50%;
  padding: 20px;
  border-top: #B6B6B6 1px solid;
  border-bottom: #B6B6B6 1px solid;
  transition: 0.2s background ease-in-out;
}

.tab:hover {
  background-color: #f7f7f7;
}


.tab.selected {
  cursor: pointer;
  width:50%;
  padding: 20px;
  background-color: #EFEFEF;
  border-bottom: #7421C2 3px solid;
}

.buttons {
  margin-left: 40px;
  display: flex;

  justify-content: space-between;
  margin-right: 40px;
}
.buttons button:nth-child(2) {
  margin-left: -100px;
}

.user {
  margin-top: 80px;
  margin-left: 40px;
}

.username {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 600;
}

.nickname {
  margin-top: 0;
  font-weight: 100;
  margin-bottom: 30px;
}

.friends {
  color: #333333;
  font-size: 16px;
  margin-top: 0;
}

img {
  width:180px;
  object-fit: contain;
}
