<div class="background-form">
  <form (ngSubmit)="modifyProfile()" [formGroup]="profileForm">
    <h1>Profile modification</h1>
    <span class="cross" (click)="onClose()">&times;</span>
    <div class="image-container">
      <label for="avatar">
        <img  class = "avatar-modification" *ngIf ="this.userDTO.avatar else elseBlock" [src]="this.loadImage(this.userDTO.avatar)">
        <ng-template #elseBlock>
          <img src="assets/images/icons/user.png" class = "avatar-modification">
        </ng-template>
        <div class="overlay"></div>
      </label>
    </div>
    <input id="avatar" class="invisible" type="file" name="avatar" (change)="onAvatarChange($event)" formControlName="avatar">
    <input name="name" [value]="userDTO.name" formControlName="name">
    <input name="username" [value]="userDTO.username" formControlName="username">
    <input name="password" placeholder="New password" formControlName="password">
    <input name="confirm" placeholder="Confirm new password" formControlName="confirm_password">
    <div class="error-message" *ngIf="profileForm.hasError('passwordMismatch') && profileForm.touched">
      Password and confirmation do not match.
    </div>
    <div class="confirmation-message" *ngIf="isProfileModified">
      Profile updated successfully!
    </div>

    <button type="submit">Modify</button>
  </form>
</div>
