<!--
  Wrapper div that provides a background for the form.
-->
<div class="background-form">

  <!--
    The form for profile modification, calls the modifyProfile function on submit,
    and uses profileForm FormGroup.
  -->
  <form (ngSubmit)="modifyProfile()" [formGroup]="profileForm">

    <!-- Heading for the form -->
    <h1>Profile modification</h1>

    <!--
      Span element styled as a cross (X) for closing the form,
      calls the onClose function when clicked.
    -->
    <span class="cross" (click)="onClose()">&times;</span>

    <!--
      Container for the avatar image, label is associated with the avatar input field
      which becomes triggered on clicking this label due to for="avatar".
    -->
    <div class="image-container">
      <label for="avatar">

        <!--
          Conditionally display the user's avatar if it exists, else display a default image.
          The "*ngIf" directive is Angular's way of rendering content conditionally.
        -->
        <img  class = "avatar-modification" *ngIf ="this.userDTO.avatar else elseBlock" [src]="this.loadImage(this.userDTO.avatar)">
        <!--
          This is displayed when the condition in *ngIf directive is false,
          i.e. if userDTO.avatar is undefined or null.
        -->
        <ng-template #elseBlock>
          <img src="assets/images/icons/user.png" class = "avatar-modification">
        </ng-template>

        <!-- Overlay div for avatar hover effect -->
        <div class="overlay"></div>
      </label>
    </div>

    <!--
      Invisible file input field for avatar image upload,
      calls the onAvatarChange function when the file is changed.
    -->
    <input id="avatar" class="invisible" type="file" name="avatar" (change)="onAvatarChange($event)" formControlName="avatar">

    <!-- Input fields for name and username, pre-filled with current values -->
    <input name="name" [value]="userDTO.name" formControlName="name">
    <input name="username" [value]="userDTO.username" formControlName="username">

    <!-- Input fields for new password and its confirmation -->
    <input name="password" placeholder="New password" formControlName="password">
    <input name="confirm" placeholder="Confirm new password" formControlName="confirm_password">

    <!--
      Error message displayed if the password and confirmation do not match
      and the form has been touched.
    -->
    <div class="error-message" *ngIf="profileForm.hasError('passwordMismatch') && profileForm.touched">
      Password and confirmation do not match.
    </div>

    <!-- Confirmation message displayed if the profile was successfully updated -->
    <div class="confirmation-message" *ngIf="isProfileModified">
      Profile updated successfully!
    </div>

    <!-- Submit button for the form -->
    <button type="submit">Modify</button>
  </form>
</div>
