.content {
  flex-grow: 1;
  position:absolute;
  left: 290px;
}


@media (max-width: 768px) {
  .right-sidebar {
    width: 100%;
    position: static;
    border: none;
    height: auto;
  }

  .content {
    left: 0;
  }
}
