.search-bar {
  background-color: hsla(264, 27%, 11%, 70%);
  height: 65px;
  display: flex;
  align-items: center;
  gap: 20px;

  position: fixed;
  top: 0;
  left: 22.5vw;
  right: 22.5vw;
  z-index: 200;
  backdrop-filter: blur(5px);

}

.explorer {
  border-radius: 100px;
  background-color: hsla(263, 10%, 95%, 0.85);
  background-image: url("../../../../assets/images/icons/search.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 28px;
  background-position-x: calc(100% - 13px);
  height: 40px;
  width: 69%;
  margin-left: 10px;
  resize: none;
  font-size: 20px;
  padding-left: 20px;
  border: none;
  line-height: 40px;
  transition: background-color 0.2s ease-out;
}

textarea::placeholder {
  color: rgba(127, 126, 128, 0.85);
}

button {
  height: 50px;
}
.button2 {
  font-size: clamp(0.4rem, 0.2rem + 1.2vw, 1.4rem);
  padding: clamp(0.2rem, 0rem + 1vw, 0.2rem) 20px;
}

@media (max-width: 1000px) {
  .button2 {
    font-size: 20px;
  }
}
.menu {
  position: absolute;
  left: 0;
  background-color: #FFF;
  margin: 0;
  width: 100%;
  top: 100%; /* Ajustement de la position du menu */
  display: none; /* Masquage du menu par défaut */
  border-bottom: black 1px solid;
}

.menu .first-division {
  background-color: #F4F2F5;
  padding: 20px;
  margin: 0;
}

.menu.open {
  display: block; /* Affiche le menu lorsque la classe "open" est ajoutée */
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

button {
  margin-right: 10px;
}

@media (max-width: 700px) {
  button {
    font-size: 20px;
    padding: 1px 20px;
  }
}

.explorer:focus {
  outline: 3px solid #7421C2;
  outline-offset: -3px;
  background-color: #F4F2F5;
}

.result {
  padding: 20px;
  overflow-y: scroll;
  max-height:300px;
}

.result.not-found {
  padding:40px;
}

@media (max-width: 1000px) {
  .search-bar {
    width: 100vw;
    left: 0;
    right: 0;
  }

  .explorer {
    width: 50%; /* Prend toute la largeur de la fenêtre */
  }

  button {
    font-size: 20px;
    padding: 1px 20px;
  }
}

li {
  list-style: none;
  margin: 15px 0;
}

.tags-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.tag {
  display: flex;
  width:14%;
  padding: 10px 32px;
  color: white;
  background-color: #A85751;
  font-size: 20px;
  border-radius: 50px;
  transition: background-color 0.2s ease-out;
  margin: 8px;
}

.tag input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
  position: relative;
  top: -1px;
  background-color: white;
  border: none;
  outline: none;
}

.tag  input[type="checkbox"]:checked {
  background-color: #000; /* Couleur de fond lorsque le checkbox est coché */
  color: #fff; /* Couleur du texte lorsque le checkbox est coché */
}


