.search-bar {
  background-color: hsla(264, 27%, 11%, 70%);
  height: 65px;
  display: flex;
  align-items: center;
  gap: 20px;

  position: fixed;
  top: 0;
  left: 290px;
  right: 290px;
  z-index: 200;
}

.explorer {
  border-radius: 100px;
  background-color: hsla(263, 10%, 95%, 0.85);
  background-image: url("../../../../assets/images/icons/search.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 28px;
  background-position-x: calc(100% - 13px);
  height: 40px;
  width: 70%;
  margin-left: 10px;
  resize: none;
  font-size: 20px;
  padding-left: 20px;
  border: none;
  line-height: 40px;
  transition: background-color 0.2s ease-out;
}

textarea::placeholder {
  color: rgba(127, 126, 128, 0.85);
}

button {
  height: 50px;
}

.menu {
  position: absolute;
  left: 0;
  background-color: #FFF;
  margin: 0;
  width: 100%;
  top: 100%; /* Ajustement de la position du menu */
  display: none; /* Masquage du menu par défaut */
  border-bottom: black 1px solid;
}

.menu .first-division {
  background-color: #F4F2F5;
  padding: 20px;
  margin: 0;
}

.menu.open {
  display: block; /* Affiche le menu lorsque la classe "open" est ajoutée */
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

button {
  margin-right: 10px;
}

@media (max-width: 700px) {
  button {
    font-size: 20px;
    padding: 1px 20px;
  }
}

.explorer:focus {
  outline: 3px solid #7421C2;
  background-color: #F4F2F5;
}

.result {
  padding: 20px;
}

@media (max-width: 700px) {
  .search-bar {
    width: 100vw;
    left: 0;
    right: 0;
  }

  .explorer {
    width: 50%; /* Prend toute la largeur de la fenêtre */
  }

  button {
    font-size: 20px;
    padding: 1px 20px;
  }
}
