<div class="search-bar">
  <textarea class="explorer" placeholder="Search" (input)="onSearch($event)"></textarea>
  <div class="menu">
    <div class="first-division">
      <h2>Filter</h2>
      <label>
        <input type="checkbox" [(ngModel)]="searchUserChecked"> User
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="searchHobbyChecked"> Hobby
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="searchActivityChecked"> Activity
      </label>
    </div>
    <p class="result" *ngIf="searchResults.length > 0">
    <ul>
      <li *ngFor="let result of searchResults">
        {{ result.name }}
      </li>
    </ul>
  </div>
  <button class="button2">New activity</button>
</div>
