<div class="search-bar">
  <textarea class="explorer" placeholder="Search" (input)="onSearch($event)"></textarea>
  <div class="menu">
    <div class="first-division">
      <h2>Filter</h2>
      <div class="tags-container">
        <label class = "tag">
          <input type="checkbox" [(ngModel)]="this.buttons[0]" (change)="onCheckUser()"> User
        </label>
        <label class = "tag">
          <input type="checkbox" [(ngModel)]="this.buttons[1]" (change)="onCheckHobby()"> Hobby
        </label>
        <label class = "tag">
          <input type="checkbox" [(ngModel)]="this.buttons[2]"> Activity
        </label>
      </div>
    </div>
    <p class="result" *ngIf="searchResults.length > 0">
      <li *ngFor="let result of searchResults">
        {{ result.name }}
      </li>
    </p>
    <p class="result" *ngIf="searchResults.length === 0">
      No result found
    </p>
  </div>
  <button class="button2">New activity</button>
</div>
