/* Styles for the file input label */
.file-input-label {
  position: relative;
  display: inline-block;
  overflow: hidden;
  float: left;
  margin: 5px 5px 5px 20px;
}

/* Styles for the form */
form {
  position: absolute!important;
}

/* Styles for the file input label span */
.file-input-label span {
  display: inline-block;
  padding: 6px 12px;
  background-color: #e9e9e9;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  border-radius: 100px;
}

/* Styles for the description textarea */
.description {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  resize: none;
  height: auto;
  min-height: 100px;
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
}

/* Styles for the focused description textarea */
.description:focus {
  outline: none;
  border-color: #7421C2;
  box-shadow: 0 0 4px rgba(116, 33, 194, 0.4);
}

/* Styles for the file input */
.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 200;
}

/* Styles for the file input label hover */
.file-input-label:hover span {
  background-color: #ccc;
  color: #7421C2;
}

/* Styles for the files container */
.files {
  display: flex;
  flex-direction: column;
}

/* Styles for the file container */
.file-container {
  display: flex;
}

/* Styles for the cross-file icon */
.cross-file {
  margin-left: 20px;
  font-size: 22px;
  cursor: pointer;
}

/* Styles for the disabled file input label */
.file-input-label.disabled span {
  /* Styles for the disabled state */
  background-color: rgba(173, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.7);
  cursor: not-allowed;
}

/* Styles for the textarea */
textarea {
  border: #9B9B9B solid 1px;
  border-radius: 14px;
  padding: 20px;
  font-size: 18px;
  font-weight: 300;
  overflow-wrap: break-word;
  resize: none;
  height: 70px !important;
  margin: 10px 20px;
}

/* Styles for the button */
button {
  display: block;
  margin: 20px auto;
}

/* Styles for the file name */
.file-name {
  margin-top: 3px;
}
