.file-input-label {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 5px;
}

form {
  position:absolute!important;
}

.file-input-label span {
  display: inline-block;
  padding: 6px 12px;
  background-color: #e9e9e9;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  border-radius: 100px;
  margin-bottom: 50px;

}

.file-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.file-input-label:hover span {
  background-color: #ccc;
  color: #7421C2;
}

.files {
  display: flex;
  flex-direction: column;
}

.file-container {
  display: flex;
}

.cross-file {
  margin-left: 20px;
  font-size: 22px;
}

.file-input-label.disabled span {
  /* styles pour l'état disabled */
  background-color: rgba(74, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.7);
  cursor: not-allowed;
  position: absolute;
}
