<div class="background-form">
  <form [@fadeIn]="true" (ngSubmit)="newActivityPost()" >
    <h1>New activity</h1>

    <span (click)="onClose()" class="cross">&times;</span>
    <p>Title of the activity</p>
    <input type="text" maxlength="64" value="Activity">
    <textarea [(ngModel)]="activityDTO.description" class="description" name="description" placeholder="Description of the activity"></textarea>

    <!--<div class="images">
      <label class="file-input-label" [class.disabled]="this.activityDTO.images[0] != null">
        <span class="file-input-text">Select an image</span>
        <input class="file-input" onchange="console.log('Adding a file')" type="file" (change)="onFileSelected($event)" [disabled]="activityDTO.images[0] != null">
      </label>
    </div>-->
    <div class="hobby-container" *ngIf="this.activityDTO.images[0] != null">
      <div class="file-container" *ngFor="let image of this.activityDTO.images">
        <span class = "file-name" *ngIf="image != null">{{ image }}</span>
        <span class="cross-file" *ngIf="image != null" (click)="onRemoveImage(image)">&times;</span>
      </div>
    </div>
<br><br>
    <div class="date">
      <p>Date of the activity</p>
      <input type="date" name="date" id='time' [(ngModel)]="activityDTO.time">
    </div>

    <p>Hobby</p>
    <select id="hobbyType" name="hobbyType" [(ngModel)]="this.activityDTO.hobbyDTO.id">
      <option *ngFor="let hobby of hobbies" [value]="hobby.id">{{hobby.name}}</option>
    </select>

    <p>Choice of the related level</p>
    <select name="level" id="level">
      <option value="books">Beginner</option>
      <option value="books">Intermediate</option>
      <option value="books">Advanced</option>
      <option value="books">Expert</option>
    </select>
    <p>Number of participants</p>
    <div class="number" [formGroup]="activityForm">
      <input type="number" id='number' name="number" min="2" max="200" formControlName="number" placeholder="How many people can participate?"
             [ngClass]="{'valid-input': activityForm.controls['number'].valid}">
      <div *ngIf="activityForm.controls['number'].dirty && !activityForm.controls['number'].valid">
        <p *ngIf="activityForm.controls['number'].hasError('required')">
          Number is required
        </p>
        <p *ngIf="activityForm.controls['number'].hasError('pattern')">
          That's certainly not enough participants
        </p>
        <p *ngIf="activityForm.controls['number'].hasError('max')">
          That is a little bit too much participants don't you think?
        </p>
      </div>
    </div>


    <button type="submit">Post</button>

  </form>
  </div>

