h2 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 40px;
}

/*
When the size of the window is < 1000, we hide the right bar
 */
@media (max-width: 1000px) {
  .right-sidebar {
    display: none;
  }
}

.margin {
  margin: 20px 0;
}
