<div class="wrapper">
  <div class="content">
    <app-search-bar></app-search-bar>

    <div class = "gap"></div>
    <div class="binder">
      <div (click)="onSwitchTo('posts')" class="tab {{ type === 'posts' ? 'selected' : '' }}">Posts</div>
      <div (click)="onSwitchTo('activities')" class="tab {{ type === 'activities' ? 'selected' : '' }}">Activities</div>
    </div>
    <div *ngIf="!this.id_hobby && type === 'activities'">
      <app-top-activity-list></app-top-activity-list>
    </div>
    <div *ngIf="this.id_hobby">
      <app-user-list [id_hobby]="id_hobby"></app-user-list>
    </div>
    <app-post-list [postsDTO]="postsDTO" *ngIf="type === 'posts'"></app-post-list>
  </div>
  <app-navigation-bar></app-navigation-bar>
  <app-user-hobbies-list></app-user-hobbies-list>
</div>

<router-outlet></router-outlet>
