<div class="background-form">
  <div class="hobbies">
    <form>
      <div class="hobby-container">
        <p>Hobby</p>
        <div class="tags-container">
          <label class="tag">
            <input type="radio" name="hobby">
            Hobby 1
          </label>
          <label class="tag">
            <input type="radio" name="hobby">
            Hobby 2
          </label>
          <label class="tag">
            <input type="radio" name="hobby">
            Hobby 3
          </label>
        </div>
      </div>
      <div class="message-container">
        <input type="text" placeholder="Message">
        <button>Send</button>
      </div>
    </form>
  </div>
</div>
