<div class="background-form">
  <div class="hobbies">
    <form>
      <h1>New post</h1>
      <div class = "form-container">
        <div class="hobby-container">
          <span class = "cross" (click)="onClose()">&times;</span>
          <p>Hobby</p>
          <div class="tags-container">
            <label class="tag">
              <input type="radio" name="hobby">
              Hobby 1
            </label>
            <label class="tag">
              <input type="radio" name="hobby">
              Hobby 2
            </label>
            <label class="tag">
              <input type="radio" name="hobby">
              Hobby 3
            </label>
          </div>
        </div>
        <div class="message-container">
          <textarea class = "text" placeholder="Message"></textarea>
          <button class = "submit">Send</button>
        </div>
      </div>

    </form>
  </div>
</div>
