<div class = "container">
  <h1>Ludiq</h1>
  <h2>THE BEST WAY TO SHARE YOUR HOBBIES</h2>
  <div class = "buttons">
    <button (click)="onRegister()">Register</button>
    <button (click)="onLogin()" class = "button2">Connection</button>
  </div>
  <img src = "../assets/images/Cooking.jpg">
  <div class = "flashcard-group">
    <p class = "flashcard">Ludiq allows you to share your hobbies with the whole community.</p>
    <p class = "flashcard">Users can check your availability for group participation and contact you accordingly.</p>
    <p class = "flashcard">You can also post on a topic related to one of your hobbies, or participate in an organized activity.</p>
  </div>
</div>

<router-outlet></router-outlet>
