<div class="content">
  <div *ngIf="friend else elseBlock">
    <div class="top-bar">
      <img *ngIf ="this.friend.avatar else elseBlock" [src]="this.loadImage(this.friend.avatar!)">
      <ng-template #elseBlock>
        <img src="assets/images/icons/user.png">
      </ng-template>
      <div class="user">
        <p class="name">{{friend.name}}</p>
        <p class="username">{{friend.username}}</p>
      </div>
    </div>
    <app-message-bar [id_friend]="friend.id"></app-message-bar>
    <app-message-list [id_friend]="friend.id"></app-message-list>
  </div>
  <ng-template #elseBlock>
    <app-suggestion-conversation-list></app-suggestion-conversation-list>
  </ng-template>
</div>
<app-navigation-bar></app-navigation-bar>
<app-friend-list></app-friend-list>
<router-outlet></router-outlet>
