<div class="background-form">
  <form (ngSubmit)="onCreateOrganization()" [formGroup]="organizationForm">
    <h1>Creation of an Organization</h1>
    <span class="cross" (click)="onClose()">&times;</span>

    <p>Name of the organization</p>
    <input name="name" [value]="this.organizationDTO.name_organization" formControlName="name">
    <p>Description</p>
    <input name="username" [value]="this.organizationDTO.description" formControlName="description">

    <div>

      <button type="submit">Create</button>
    </div>
  </form>
</div>
