
img {
  width:30px;
}

.comment {
  font-size: clamp(1rem, 0.4rem + 1.2vw, 1.1rem);
}

.comment-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E6D3F8;
  padding:10px 25px 10px 10px;
}

input {
  width: 85%;
  padding:10px;
  border: none;
  background-color: white;
  border-radius: 12px;
}
