.post {
  cursor: pointer;
  padding: 30px 30px 10px;
}

.post-title {
  font-size: 20px;
  font-weight: bold;
}

.post-content {
  margin-top: 20px;
}

.user-profile {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 100px;
  object-fit: cover;
}

.profile-info {
  display: flex;
  align-items: center;
}

.username {
  margin-top: 5px;
  font-size: 24px;
  font-weight: 500;
  margin-right: 10px;
}

.date {
  margin-left: 50px;
  font-size: 15px;
  margin-top: 12px;
  color: #333333;
}

.nickname {
  font-size: 17px;
  font-weight: 100;
}

.user-info {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.interaction {
  width: 30px;
  margin-top: 10px;
  height: 30px;
}

.count {
  margin-left: 5px;
  margin-right: 20px;
}

.post-info {
  margin: 20px 0 0 0;
}

img {
  max-height:200px;
  max-width: 500px;
  border-radius: 10px;
}

.images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.delete {
  bottom: 20px;
  right: 15px;
  font-family: Arial, sans-serif;
  color: #9B9B9B;
  font-size: 50px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: color 0.2s ease-out;
}

.delete:hover {
  color: #333333;
}

.top-post-information {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

}
