.tab:hover {
  background-color: #f7f7f7;
}
.tab {
  cursor: pointer;
  padding: 20px;
  border-top: #B6B6B6 1px solid;
  border-bottom: #B6B6B6 1px solid;
  transition: 0.2s background ease-in-out;
}

.tab.selected {
  cursor: pointer;
  padding: 20px;
  background-color: #EFEFEF;
  border-bottom: #7421C2 3px solid;
}
