.activity-background {
  position: relative;
  background-color: #753D38; /* Couleur de fond */
  background-image: url('../../../../../../assets/images/hobbies/Cooking.jpg'); /* Image de fond */

  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;

  /* Effet de multiplicité de la couleur de fond et de l'image */
  background-blend-mode: multiply;

  padding: 50px 100px;
}

p {
  color: white;
}

.title {
}

.number {
  position: absolute;
  bottom: 0;
  right: 20px;
}

.level {
  position: absolute;
  bottom: 0;
  left: 20px;
}
