<div class="post">
    <div class="user-profile">
      <div class="profile-info">
        <img src="../../../../assets/images/icons/utilisateur.png" alt="Photo de profil" class="profile-image">
        <div class="user-info">
          <span class="username">Nom d'utilisateur</span>
          <span class="nickname">Surnom</span>
        </div>
      </div>
    </div>
    <div class="post-info">
      <button class="tag">Cuisine</button>
    </div>
    <p class="post-content">Contenu du post</p>
    <img src="../../../../assets/images/Cooking.jpg" alt="Image du post" class="post-image">
    <br>
    <img src="../../../../assets/images/icons/heart.png" alt="Image du like" class="interaction">
    <span class="count">0</span>
    <img src="../../../../assets/images/icons/comment.png" alt="Image du commentaire" class="interaction">
    <span class="count">0</span>
</div>

