<div class="post">
    <div class="user-profile">
      <div class="profile-info">
        <img src="../../../../assets/images/icons/utilisateur.png" alt="Profile pic" class="profile-image">
        <div class="user-info">
          <span class="username">Username</span>
          <span class="nickname">Nickname</span>
        </div>
      </div>
    </div>
    <div class="post-info">
      <button class="tag">Cooking</button>
    </div>
    <p class="post-content">Post content</p>
    <img src="../../../../assets/images/Cooking.jpg" alt="Post pic" class="post-image">
    <br>
    <img src="../../../../assets/images/icons/heart.png" alt="Like pic" class="interaction">
    <span class="count">0</span>
    <img src="../../../../assets/images/icons/comment.png" alt="Comment pic" class="interaction">
    <span class="count">0</span>
</div>

