<div class = "flashcard" [class.flashcard-clicked]="this.clicked" (click)="onClick()">
  <img *ngIf="isOwner() && this.clicked" class="delete" (click)="onClose()" src = "assets/images/icons/delete.png">
  <button [class.tag]="this.clicked" [class.h2]="!this.clicked">{{this.hobbyPost.hobby_name}}</button>
  <div *ngIf="this.clicked">
    <p>Availability</p>
    <img *ngIf="this.hobbyPost.availability == 0" src = "assets/images/icons/not-available.png">
    <img *ngIf="this.hobbyPost.availability == 1" src = "assets/images/icons/available.png">
    <p>Level</p>
    <button class = "level">{{this.hobbyPost.advancement}}</button>
    <p>Frequency</p>
    <button class = "frequency">{{this.hobbyPost.frequency}}</button>
  </div>
</div>
