<div class="background-form">
  <form (ngSubmit)="onCreateAccount()" [formGroup]="createForm">
    <h1>Register</h1>
    <a class="cross" (click)="onClose()">&times;</a>
    <input required type="text" [(ngModel)]="userDTO.name" id="name" name="name" formControlName="name"
           placeholder="Name" [ngClass]="{'valid-input': createForm.controls['name'].valid}">

    <div *ngIf="createForm.controls['name'].dirty && !createForm.controls['name'].valid">
      Name not valid
      <p *ngIf="createForm.controls['name'].hasError('minlength')">La taille minimum n'est pas respectée (4)</p>
      <p *ngIf="createForm.controls['name'].hasError('maxlength')">La taille maximum n'est pas respectée (20)</p>
    </div>

    <input type="text" [(ngModel)]="userDTO.username" id="pseudo" name="pseudo" formControlName="pseudo"
           placeholder="Username" [ngClass]="{'valid-input': createForm.controls['pseudo'].valid}">

    <div *ngIf="createForm.controls['pseudo'].dirty && !createForm.controls['pseudo'].valid">
      Username not valid
      <p *ngIf="createForm.controls['pseudo'].hasError('minlength')">La taille minimum n'est pas respectée (4)</p>
      <p *ngIf="createForm.controls['pseudo'].hasError('maxlength')">La taille maximum n'est pas respectée (20)</p>
    </div>

    <input type="email" [(ngModel)]="userDTO.email" id="email" name="email" formControlName="email" placeholder="E-mail"
           [ngClass]="{'valid-input': createForm.controls['email'].valid}">

    <div *ngIf="createForm.controls['email'].dirty && !createForm.controls['email'].valid">
      E-mail not valid
      <p *ngIf="createForm.controls['email'].hasError('pattern')">Erreur, ceci n'est pas une adresse e-mail valide</p>
    </div>

    <input type="password" [(ngModel)]="userDTO.password" id="password" name="password" formControlName="password"
           placeholder="Password" [ngClass]="{'valid-input': createForm.controls['password'].valid && createForm.controls['confirm'].valid && !createForm.getError('noMatch')}">

    <div *ngIf="createForm.controls['password'].dirty && !createForm.controls['password'].valid">
      Password not
      <p *ngIf="!createForm.controls['password'].hasError('pattern')">You need to have at least 1 capital letter, 1 number and 1 special character</p>
      <p *ngIf="createForm.controls['password'].hasError('minlength')">Your password must have more than 8 characters</p>
    </div>

    <input type="password" id="confirm" name="confirm" formControlName="confirm" placeholder="Confirm password"
           [ngClass]="{'valid-input': createForm.controls['confirm'].valid && !createForm.getError('noMatch')}">

    <div *ngIf="createForm.controls['password'].dirty && createForm.getError('noMatch')">
      not valid confirm
      <p *ngIf="!createForm.controls['confirm'].dirty">Please confirm your password</p>
      <p *ngIf="createForm.getError('noMatch')">Password and confirmation don't match</p>
    </div>

    <p *ngIf="createForm.valid">valid</p>

    <button type="submit" class="submit" [disabled]="!createForm.valid">Submit</button>
  </form>
</div>
