.text {
  font-size: clamp(1.1rem, 0.4rem + 1.2vw, 1.3rem);
  margin-left: 40px;
  margin-right: 40px;
  color: white;
}

.top-bar {
  background-color: hsla(264, 27%, 11%, 70%);
  position: fixed;
  display: flex;
  justify-content: space-between;
  top:0;
  left: 22.5vw;
  right: 22.5vw;
  width: calc(100% - 45vw);
  z-index: 1000;
}

