.top-bar {
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  display: flex;
  justify-content: space-between;
  top:0;
  width: 55vw;
  backdrop-filter: blur(5px);
}

.text {
  font-size: clamp(1.1rem, 0.4rem + 1.2vw, 1.3rem);
  margin-left: 40px;
  margin-right: 40px;
}

.badge {
  width:30px;
}

.text-container {
  display: flex;
  gap: 7px;
  margin-right: 40px;
}


.top-user-info {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.favorite-hobby {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-right: 54px;
  border: 1px black solid;
  border-radius: 20px;
  padding:15px 15px 15px 15px;
  height:90%;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.info {
  margin:10px;
  font-size: clamp(1rem, 0.4rem + 1.2vw, 1.2rem);
}

.info.solo {
  margin-left: 47px;
}

.image-favorite {
  width: 105px;
  mix-blend-mode: multiply;
}

.title-favorite-hobby {
  margin-top: 0;
  font-size: clamp(0.4rem, 0.4rem + 1.2vw, 1.2rem);;
}

.tag.favorite {
  margin-top: 3px;
  padding:6px!important;
  font-size: clamp(0.4rem, 0.4rem + 1.2vw, 1rem);;
}


.buttons {
  margin-left: 40px;
  display: flex;

  justify-content: space-between;
  margin-right: 40px;
}
.buttons button:nth-child(2) {
  margin-left: -100px;
}

.user {
  margin-top: 80px;
  margin-left: 40px;
}

.username {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: clamp(1.2rem, 0.4rem + 1.2vw, 1.5rem);
}

.nickname {
  margin-top: 0;
  font-weight: 100;
  font-size: clamp(1.2rem, 0.4rem + 1.2vw, 1.4rem);
  margin-bottom: 15px;
}


img {
  width:clamp(7rem, 1rem + 10vw, 10rem);
  object-fit: contain;
}


@media (max-width: 1000px) {
  .top-bar {
    width: 100vw;
    left: 0;
    right: 0;
  }
}
