* {
  font-family: 'Inter', sans-serif;
}

p {
  font-size: 20px;
}

h1 {
  font-size: 40px;
  margin: 18px;
}

button {
  align-items: center;
  padding: 10px 32px;

  color: white;
  background-color:#7421C2;
  font-size: 20px;
  border: none;

  border-radius :50px;
  transition: background-color 0.2s ease-out;
}

.tag {
  align-items: center;
  padding: 10px 32px;

  color: white;
  background-color:#A85751 ;
  font-size: 20px;
  border: none;

  border-radius :50px;
  transition: background-color 0.2s ease-out;
}

.tag:hover {
  color:white;
  background-color: #753D38;
  outline:none;
}

button:disabled {
  color: white;
  background-color: rgba(44, 36, 51, 0.4);
}

button:hover:disabled {
  color: white;
  background-color: rgba(44, 36, 51, 0.3);
  outline: none;
}

button:hover {
  color:white;
  background-color:#53188B;
}

.button2 {
  align-items:center;
  padding :10px 32px;

  font-size :20px;

  color:#7421C2;
  background-color:#FFFFFF;
  outline: 3px solid #7421C2;
  outline-offset: -3px;
  border-radius :50px;
  transition: background-color 0.2s ease-out;
}

.button2:hover {
  color: white;
  background-color:#7421C2;
}



