div, .user-info {
  display: flex;
}

.user-info {
  flex-direction: column;
}

img {
  width:40px;
}

.friend {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}


.request-status {
  padding: 10px;
  font-size: clamp(1rem, 0.4rem + 1.2vw, 1.2rem);
  width:22.5vw;
}

button{
  padding: clamp(1rem, 0.4rem + 1vw, 1rem);
  font-size: clamp(1rem, 0.4rem + 1.2vw, 1.2rem)!important;
}
